<% content_for :title, "Editando Sala" %>

<h1>Editando Sala</h1>

<%= render "form", room: @room %>

<br>

<div>
  <%= link_to "Mostrar essa Sala", @room %> |
  <%= link_to "Voltar para Salas", rooms_path %>
</div>
